[Unit]
Description=daphne daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/trustlab/src/
ExecStart=/var/www/trustlab/trustlab-env/.venv/bin/daphne --bind 127.0.0.1 --port 8000 --websocket_timeout -1 --websocket_connect_timeout -1 --verbosity 0 --access-log=/var/www/trustlab/daphne.access.log djtrustlab.asgi:application

[Install]
WantedBy=multi-user.target
