[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/trustlab/src/
ExecStart=/var/www/trustlab/trustlab-env/bin/gunicorn --access-logfile /var/www/trustlab/gunicorn_access.log --error-logfile /var/www/trustlab/gunicorn_error.log --workers 3 --bind unix:/var/www/trustlab/src/trustlab.sock djtrustlab.wsgi:application

[Install]
WantedBy=multi-user.target
