<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'exms/style/jumbotron.css' %}" />#}
    <!-- Compressed CSS Foundation 6.5.3 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/css/foundation.min.css" integrity="sha256-GSio8qamaXapM8Fq9JYdGNTvk/dgs+cMLgPeevOYEx0= sha384-wAweiGTn38CY2DSwAaEffed6iMeflc0FMiuptanbN4J+ib+342gKGpvYRWubPd/+ sha512-QHEb6jOC8SaGTmYmGU19u2FhIfeG+t/hSacIWPpDzOp5yygnthL3JwnilM7LM1dOAbJv62R+/FICfsrKUqv4Gg==" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    {% block header %}
    {% endblock %}
</head>
<body>
    {% comment %}<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">exms</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% block nav_home %}{% endblock %}><a href="{% url 'index' %}">Home</a></li>
                    <li {% block nav_tasks %}{% endblock %}><a href="{% url 'tasks' %}">Tasks</a></li>
                    <li {% block nav_exams %}{% endblock %}><a href="{% url 'exams' %}">Examinations</a></li>
                </ul>
                <p class="nav navbar-text navbar-right">{% if request.user.is_authenticated %}Hello, {{ request.user.first_name }}. <a class="navbar-inverse nav-item nav-link" href="{% url 'logout' %}">Logout</a>{% endif %}</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        {% block body %}
        {% endblock %}
        <hr id="hr_footer"/>
        <footer id="footer" class="container-fluid text-right"><p>&copy; {% now "Y" %} - exms</p></footer>
    </div>
    <span class="alert alert-success" role="alert" id="exms-alert"></span>
    <input type="hidden" id="hdfChangeNotSave" value="false"/>{% endcomment %}
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.3/dist/js/foundation.min.js" integrity="sha256-mRYlCu5EG+ouD07WxLF8v4ZAZYCA6WrmdIXyn1Bv9Vk= sha384-KzKofw4qqetd3kvuQ5AdapWPqV1ZI+CnfyfEwZQgPk8poOLWaabfgJOfmW7uI+AV sha512-0gHfaMkY+Do568TgjJC2iMAV0dQlY4NqbeZ4pr9lVUTXQzKu8qceyd6wg/3Uql9qA2+3X5NHv3IMb05wb387rA==" crossorigin="anonymous"></script>
    {% comment %}<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>{% endcomment %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    {% comment %}<script src="{% static 'exms/scripts/miscFunctions.js' %}"></script>
    <script src="{% static 'exms/scripts/helper.js' %}"></script>{% endcomment %}

    <script>
        {% comment %}//urls for exam
        var EXAMS_URL = "{{ exams_url }}";
        //urls for task
        var TASKS_URL = "{{ tasks_url }}";
        var TASKS_API_URL = "{{ tasks_api_url }}";
        var IMPORT_TASK_LIST_URL = "{{ import_task_list_url }}";
        var IMPORT_TASK_API_URL = "{{ import_task_api_url }}";
        //urls for subtasks
        var SUBTASKS_API_URL = "{{ subtasks_api_url }}";
        var IMPORT_SUBTASK_LIST_URL = "{{ import_subtask_list_url }}";
        var IMPORT_SUBTASK_API_URL = "{{ import_subtask_api_url }}";
        //url for task components
        var TASKCOMPS_API_URL = "{{ taskcomps_api_url }}";{% endcomment %}
        $(document).foundation();
    </script>
    {% block scripts %}
    {% endblock %}
</body>
</html>